In [1]:
import sqlite3

In [2]:
import pandas as pd

# 抓取最新資料

In [3]:
o_data = pd.read_html('http://rate.bot.com.tw/xrt/quote/l6m/JPY')
jpy_his = o_data[0].iloc[:,0:6]
jpy_his.columns = ['掛牌日期', '幣別', '現金-本行買入', '現金-本行賣出', '即期-本行買入', '即期-本行賣出']
from datetime import datetime
jpy_his = jpy_his.set_index(jpy_his['掛牌日期'])
del jpy_his['掛牌日期']
jpy_his.index = pd.to_datetime(jpy_his.index, format='%Y/%m/%d')

### 取出最近1筆日期

In [4]:
today_jpy = jpy_his.head(1)

In [10]:
type(today_jpy.to_html().encode('utf-8'))
# today_jpy.to_html().encode('utf-8')

bytes

### 寫入資料庫
最新資料寫入 dataFrame

整個 dataFrame 再寫入 SQLite

In [9]:
with sqlite3.connect('BOT_JPY.sqlite') as db:
    today_jpy.to_sql('BOT_JPY', con= db, if_exists = 'append')

In [10]:
with sqlite3.connect('C:/Users/poduo/Anaconda3_JupyterNB/20171217Python爬蟲實戰/BOT_currency/BOT_JPY.sqlite') as db:
    df = pd.read_sql_query('select * from BOT_JPY', con = db)
# df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131 entries, 0 to 130
Data columns (total 7 columns):
index      130 non-null float64
掛牌日期       131 non-null object
幣別         131 non-null object
現金-本行買入    131 non-null float64
現金-本行賣出    131 non-null float64
即期-本行買入    131 non-null float64
即期-本行賣出    131 non-null float64
dtypes: float64(5), object(2)
memory usage: 7.2+ KB

In [11]:
df = df.sort_values(by= ['掛牌日期'], ascending=False).reset_index(drop = True)
# df.head(5)

   index                 掛牌日期        幣別  現金-本行買入  現金-本行賣出  即期-本行買入  即期-本行賣出
0    NaN  2018-01-26 00:00:00  日圓 (JPY)   0.2576   0.2686   0.2640   0.2680
1    0.0  2018-01-25 00:00:00  日圓 (JPY)   0.2581   0.2691   0.2645   0.2685
2    1.0  2018-01-24 00:00:00  日圓 (JPY)   0.2573   0.2683   0.2637   0.2677
3    2.0  2018-01-23 00:00:00  日圓 (JPY)   0.2553   0.2663   0.2617   0.2657
4    3.0  2018-01-22 00:00:00  日圓 (JPY)   0.2565   0.2675   0.2629   0.2669

In [12]:
df = df.drop_duplicates(['掛牌日期'], keep = 'last').reset_index(drop = True)
# df.head(5)

   index                 掛牌日期        幣別  現金-本行買入  現金-本行賣出  即期-本行買入  即期-本行賣出
0    NaN  2018-01-26 00:00:00  日圓 (JPY)   0.2576   0.2686   0.2640   0.2680
1    0.0  2018-01-25 00:00:00  日圓 (JPY)   0.2581   0.2691   0.2645   0.2685
2    1.0  2018-01-24 00:00:00  日圓 (JPY)   0.2573   0.2683   0.2637   0.2677
3    2.0  2018-01-23 00:00:00  日圓 (JPY)   0.2553   0.2663   0.2617   0.2657
4    3.0  2018-01-22 00:00:00  日圓 (JPY)   0.2565   0.2675   0.2629   0.2669

In [13]:
del df['index']
# df.head(5)

                  掛牌日期        幣別  現金-本行買入  現金-本行賣出  即期-本行買入  即期-本行賣出
0  2018-01-26 00:00:00  日圓 (JPY)   0.2576   0.2686   0.2640   0.2680
1  2018-01-25 00:00:00  日圓 (JPY)   0.2581   0.2691   0.2645   0.2685
2  2018-01-24 00:00:00  日圓 (JPY)   0.2573   0.2683   0.2637   0.2677
3  2018-01-23 00:00:00  日圓 (JPY)   0.2553   0.2663   0.2617   0.2657
4  2018-01-22 00:00:00  日圓 (JPY)   0.2565   0.2675   0.2629   0.2669

In [14]:
with sqlite3.connect('BOT_JPY.sqlite') as db:
    df.to_sql('BOT_JPY', con= db, if_exists = 'replace')